USE [master]
GO
/****** Object:  Database [Magazzino]    Script Date: 30/07/2021 15:12:50 ******/
CREATE DATABASE [Magazzino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino', FILENAME = N'C:\Users\Laura Martines\Magazzino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino_log', FILENAME = N'C:\Users\Laura Martines\Magazzino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino]
GO
USE [Magazzino]
GO
/****** Object:  Table [dbo].[Prodotti]    Script Date: 30/07/2021 15:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodotti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodiceProdotto] [nvarchar](10) NULL,
	[Categoria] [nvarchar](20) NOT NULL,
	[Descrizione] [nvarchar](500) NOT NULL,
	[PrezzoUnitario] [numeric](10, 2) NOT NULL,
	[QuantitaDisponibile] [int] NOT NULL,
 CONSTRAINT [PK_Prodotti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodiceProdotto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prodotti]  WITH CHECK ADD  CONSTRAINT [CK_Categoria] CHECK  (([Categoria]='Sanitari' OR [Categoria]='Cancelleria' OR [Categoria]='Alimentari'))
GO
ALTER TABLE [dbo].[Prodotti] CHECK CONSTRAINT [CK_Categoria]
GO
USE [master]
GO
